name: Build

on:
  workflow_call:
    inputs:
      tags:
        type: string
        description: The Docker Tags (see docker/metadata-action@v4 for available values)
        required: true

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - id: step1
        run: echo "test=hello" >> "$GITHUB_OUTPUT"
      - id: step2
        run: echo "test=world" >> "$GITHUB_OUTPUT"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - env:
          OUTPUT1: ${{needs.job1.outputs.output1}}
          OUTPUT2: ${{needs.job1.outputs.output2}}
        run: echo "$OUTPUT1 $OUTPUT2"
 
#  fetchdata:
#    runs-on: ubuntu-latest
#    outputs:
#      kubectl_versions: ${{ steps.data.ouputs.versions }}
#      toto: ${{ steps.data.ouputs.toto }}
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: 'Set up skopeo'
#        uses: warjiang/setup-skopeo@main
#        with:
#          version: latest
#
#      - id: data
#        run: |
#         python --version
#         export ALL_VERSIONS=$(skopeo  list-tags   docker://registry.k8s.io/kubectl | jq -r '.Tags | .[]|  select(. | match("v[0-9].[0-9]{2}.[0-9]$"))')
#         python ./get_kubectl_versions.py | sed 's/"/\\"/g' >  data.json
#         echo "versions=$(cat data.json )" >> "$GITHUB_OUTPUT"
#         echo "toto=toto" >> "$GITHUB_OUTPUT"
#
#         cat $GITHUB_ENV
#  debug:
#    runs-on: ubuntu-latest
#    needs: fetchdata
#    steps:
#      - name: Access JSON output
#        run: |
#          echo "Le JSON reçu est: ${{needs.fetchdata.outputs.toto}}"
#
#  build-kubectl:
#    runs-on: ubuntu-latest
#    needs: fetchdata
#    strategy:
#      matrix:
#        tag: ${{ fromJSON(needs.fetchdata.outputs.versions) }}
#    steps:
#    - name: Build-kubetcl-with-shell
#      uses: coopTilleuls/action-docker-build-push@custom-tags
#      with:
#        IMAGE_NAME: kubectl
#        BUILD_CONTEXT: ./kubectl
#        BUILD_ARGS:  ${ echo '${{needs.fetch-data.outputs.kubectl_versions }}' | jq --arg KEY "${{ matrix.tag }}" '.[$KEY]' }
#        BUILD_TARGET: debian-kubectl
#        REGISTRY_JSON_KEY: ${{ secrets.GITHUB_TOKEN }}
#        IMAGE_REPOSITORY: ghcr.io/cooptilleuls/sre
#        CUSTOM_TAG:  ${{ matrix.tag }}





