name: Build

on:
  workflow_call:
    inputs:
      tags:
        type: string
        description: The Docker Tags (see docker/metadata-action@v4 for available values)
        required: true

jobs:
  fetch-data:
    name: kubectl_versions
    runs-on: ubuntu-latest
    outputs:
      kubectl_versions: ${{ steps.data.ouputs.kubectl_versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: 'Set up skopeo'
        uses: warjiang/setup-skopeo@main
        with:
          version: latest

      - id: data
        run: |
         python --version
         export ALL_VERSIONS=$(skopeo  list-tags   docker://registry.k8s.io/kubectl | jq -r '.Tags | .[]|  select(. | match("v[0-9].[0-9]{2}.[0-9]$"))')
         python ./get_kubectl_versions.py | sed 's/"/\\"/g' >  data.json
         echo "kubectl_versions=$(cat data.json )" >> $GITHUB_OUTPUT   
         cat $GITHUB_OUTPUT
  debug:
    runs-on: ubuntu-latest
    needs: fetch-data
    steps:
      - name: Access JSON output
        run: |
          echo "Le JSON reçu est: ${{  needs.fetch-data.outputs.kubectl_versions}}"

  build-kubectl:
    runs-on: ubuntu-latest
    needs: fetch-data
    strategy:
      matrix:
        tag: ${{ fromJSON(needs.fetch-data.outputs.kubectl_versions) }}
    steps:
    - name: Build-kubetcl-with-shell
      uses: coopTilleuls/action-docker-build-push@custom-tags
      with:
        IMAGE_NAME: kubectl
        BUILD_CONTEXT: ./kubectl
        BUILD_ARGS:  ${ echo '${{needs.fetch-data.outputs.kubectl_versions }}' | jq --arg KEY "${{ matrix.tag }}" '.[$KEY]' }
        BUILD_TARGET: debian-kubectl
        REGISTRY_JSON_KEY: ${{ secrets.GITHUB_TOKEN }}
        IMAGE_REPOSITORY: ghcr.io/cooptilleuls/sre
        CUSTOM_TAG:  ${{ matrix.tag }}





